.square {
  padding: 2.5rem;
  width: 2rem;
  height: 1rem;
  margin: 0.1rem;
  cursor: pointer;
  color: white;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  box-shadow: 3px solid black;
  background-color: #1f3540;
  font-family: sans-serif;
}

.square:hover{
  background-color: #3c697f;
}
